{% extends "base.html" -%}

{% block head -%}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/index.css') }}">
{% endblock head -%}

{% block content -%}
<div class="wrapper">
    <div class="header">
        <br>
        <span>Alexa for Instructions</span>
        <div id="nav-container">
            <a class="nav-pages" href="/login">Sign&nbsp;in</a>
            <a class="nav-pages" href="#">News</a>
            <a class="nav-pages" href="#">About</a>
            <a class="nav-pages" href="#">Contact</a>
        </div>
    </div>

    <div id="dots-container">
        <span>Have <strong>any</strong> set of instructions read to you.</span><br><br>
        <img id="dots" src="{{ url_for('static',filename='images/echo-dot-colors.jpg') }}"><br><br>
        <span>All you need is an Alexa-enabled device.</span>
    </div>

    <div class="step">
        <span class="step-num">Step 0: </span><span class="step-info">Enable our AlexaForInstructions Skill either from your Alexa app or at <a href="https://www.amazon.com/skills" target="_blank">the Amazon Store</a>. You can also use your voice.</span>
        <br>
        <div class="talk-bubble tail">
            <div class="talk-text">
                <span>"Alexa, enable the AlexaForInstructions skill."</span>
            </div>
        </div>
    </div>

    <div class="step">
        <span class="step-num">Step 1: </span><span class="step-info">Upload your instructions to your online account.</span>
        <br>
        <div class="talk-bubble">
            <div class="talk-text">
                <img class="file" src="../images/file.png">
                <span>Upload</span>
                <img class="right-arrow" src="../images/play-button.png">
                <img class="edit-file" src="../images/document.png">
                <span>Edit</span>
                <img class="right-arrow" src="../images/play-button.png">
                <img class="folder" src="../images/folder.png">
                <span>Save</span>
            </div>
        </div>
    </div>

    <div class="step">
        <span class="step-num">Step 2: </span><span class="step-info">Open the skill by using your voice.</span>
        <br>
        <div class="talk-bubble tail">
            <div class="talk-text">
                <span>"Alexa, open AlexaForInstructions."</span>
            </div>
        </div>
    </div>

    <div class="step">
        <span class="step-num">Step 3: </span><span class="step-info">Use a keyword in the instruction set's name to retrieve it.</span>
        <br>
        <div class="talk-bubble tail">
            <div class="talk-text">
                <span>"Open . . ."</span>
            </div>
        </div>
        <div class="talk-bubble tail">
            <div class="talk-text">
                <span>"Open instructions about . . ."</span>
            </div>
        </div>
    </div>

    <div class="step">
        <span class="step-num">Step 4: </span><span class="step-info">Control flow with 'Next, Back, Skip, Skip To, Pause/Stop, Resume, and Save'.</span>
        <br>
        <div class="talk-bubble tail">
            <div class="talk-text">
                <span>"Alexa, next."</span>
            </div>
        </div>
        <div class="talk-bubble tail">
            <div class="talk-text">
                <span>"Alexa, skip this step."</span>
            </div>
        </div>
        <div class="talk-bubble tail">
            <div class="talk-text">
                <span>"Alexa, stop and save my place."</span>
            </div>
        </div>
    </div>

    <div class="separator">GT Junior Design, Group 7112: AlexaForInstructions</div>
</div>
{%- endblock content %}
